node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.gitignore
README.md
.env
!.env.production
.nyc_output
.nyc_output
coverage
.tmp
.DS_Store
*.log
vendor/*/tests
vendor/*/Tests
tests/
public/storage
storage/logs/*.log
database/database.sqlite